<div>
    <div style="display: table-row;">
        <div style="display: table-cell;">id:</div>
        <div style="display: table-cell;">{{location.id}}</div>
    </div>
    <div style="display: table-row;">
        <div style="display: table-cell;">street:</div>
        <div style="display: table-cell;">{{location.street}}</div>
    </div>
    <div style="display: table-row;">
        <div style="display: table-cell;">housenumber:</div>
        <div style="display: table-cell;">{{location.housenumber}}</div>
    </div>
    <div style="display: table-row;">
        <div style="display: table-cell;">postalcode:</div>
        <div style="display: table-cell;">{{location.postalcode}}</div>
    </div>
    <div style="display: table-row;">
        <div style="display: table-cell;">city:</div>
        <div style="display: table-cell;">{{location.city}}</div>
    </div>
</div>