.content {
    margin: 8px 8px 0 8px;
}

.id {
    width: 2em;
    display: inline-block;
}

.street {
    width: 10em;
    display: inline-block;
}

.housenumber {
    width: 6em;
    display: inline-block;
}

.postalcode {
    width: 6em;
    display: inline-block;
}
.city {
    width: 20em;
    display: inline-block;
}

label {
    min-width: 6em;
    padding: 8px 8px 0 0;
    display: inline-block;
}

input {
    width: 20em;
    padding: 8px  8px 0 0;
}